h1{
color: Red;
margin-left:40%;
text-decoration:underline;
}
.top{

background-color:#57C5B6;
margin: 0px;

margin-bottom:0px;
height:500px;
border: solid 3px;
padding-bottom:20px;
}
.bottom{
height:30px;
color:green;
border-width:0px;
background-color:lightpink;


}
.letters{
 margin-left:40%;

}

.name{
margin-left:20%;
}

.batch{
margin-left:120px;
}
.dropbatch{

margin-left:12px;
}
.mail{

margin-top:30px;
margin-left:40%;
}
.roll{
margin-left:120px;
}

.branch{
margin-left:20%;
}
.dropdown{
margin-left:30px;
}
.contact{

margin-left:15.5%;
}
.dropdown2{

margin-left:30px;
}
.gpa{

margin-left:20%;
}

.section2{
margin-top:70px;
}
.passcode{
margin-left:40%;

}
.dropdown3{

margin-left:28px;
}
.mail2{
margin-left:20px;
}
.sub{
margin-left:40%;
}
